* text=auto !eol
/AUTHORS -text
/Externals -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/OS.spp -text
OS/AUTHORS -text
OS/LICENSE -text
OS/MSVisualStudio/v7/OS.sln -text
OS/MSVisualStudio/v7/OSApplication-fileUpload/OSApplication-fileUpload.vcproj -text
OS/MSVisualStudio/v7/OSExample-algorithmicDiff/OSExample-algorithmicDiff.vcproj -text
OS/MSVisualStudio/v7/OSExample-instanceGenerator/OSExample-instanceGenerator.vcproj -text
OS/MSVisualStudio/v7/OSExample-osTestCode/OSExample-osTestCode.vcproj -text
OS/MSVisualStudio/v7/OSSolverService/OSSolverService.vcproj -text
OS/MSVisualStudio/v7/OSTest/OSTest.vcproj -text
OS/MSVisualStudio/v7/libOS/libOS.vcproj -text
OS/MSVisualStudio/v7/libOSCommon/libOSCommon.vcproj -text
OS/MSVisualStudio/v8/OS.sln -text
OS/MSVisualStudio/v8/OSApplication-fileUpload/OSApplication-fileUpload.vcproj -text
OS/MSVisualStudio/v8/OSExample-algorithmicDiff/OSExample-algorithmicDiff.vcproj -text
OS/MSVisualStudio/v8/OSExample-instanceGenerator/OSExample-instanceGenerator.vcproj -text
OS/MSVisualStudio/v8/OSExample-osTestCode/OSExample-osTestCode.vcproj -text
OS/MSVisualStudio/v8/OSSolverService/OSSolverService.vcproj -text
OS/MSVisualStudio/v8/OSTest/OSTest.vcproj -text
OS/MSVisualStudio/v8/libOS/libOS.vcproj -text
OS/MSVisualStudio/v8/libOSCommon/libOSCommon.vcproj -text
OS/Makefile.am -text
OS/Makefile.in -text
OS/README -text
OS/applications/Makefile.am -text
OS/applications/Makefile.in -text
OS/applications/amplClient/Makefile.am -text
OS/applications/amplClient/Makefile.in -text
OS/applications/amplClient/OSAmplClient.cpp -text
OS/applications/amplClient/hs71.mod -text
OS/applications/amplClient/nltrans.dat -text
OS/applications/amplClient/nltrans.mod -text
OS/applications/amplClient/nltrans.nl -text
OS/applications/amplClient/testfile.nl -text
OS/applications/fileUpload/Makefile.am -text
OS/applications/fileUpload/Makefile.in -text
OS/applications/fileUpload/OSFileUpload.cpp -text
OS/applications/fileUpload/OSFileUpload.java -text
OS/configure -text
OS/configure.ac -text
OS/data/amplFiles/hs71.mod -text
OS/data/amplFiles/hs71.nl -text
OS/data/amplFiles/parinc.dat -text
OS/data/amplFiles/parinc.mod -text
OS/data/amplFiles/parinc.nl -text
OS/data/amplFiles/testAmpl.run -text
OS/data/configFiles/kill.config -text
OS/data/configFiles/testLocal.config -text
OS/data/configFiles/testLocalMPS.config -text
OS/data/configFiles/testLocalNL.config -text
OS/data/configFiles/testRemote.config -text
OS/data/configFiles/testRemoteBIG.config -text
OS/data/configFiles/testRemoteKnock.config -text
OS/data/configFiles/testRemoteMPS.config -text
OS/data/configFiles/testRemoteNL.config -text
OS/data/configFiles/testRemoteRetrieve.config -text
OS/data/configFiles/testRemoteRetrieveBrowser.config -text
OS/data/configFiles/testRemoteSend.config -text
OS/data/configFiles/testRemotegetJobID.config -text
OS/data/configFiles/testbrowser.config -text
OS/data/configFiles/testlocalclp.config -text
OS/data/configFiles/testlocalosol.config -text
OS/data/configFiles/testmps.config -text
OS/data/configFiles/testnl.config -text
OS/data/matlabFiles/markowitz.m -text
OS/data/matlabFiles/parincLinear.m -text
OS/data/matlabFiles/template.m -text
OS/data/mpsFiles/parinc.mps -text
OS/data/osilFiles/CppADTestLag.osil -text
OS/data/osilFiles/HS071_NLP.osil -text
OS/data/osilFiles/HS071_NLPMod.osil -text
OS/data/osilFiles/avion2.osil -text
OS/data/osilFiles/callBackTest.osil -text
OS/data/osilFiles/callBackTestRowMajor.osil -text
OS/data/osilFiles/gamstrnsport.osil -text
OS/data/osilFiles/lindoapiaddins.osil -text
OS/data/osilFiles/markowitz.osil -text
OS/data/osilFiles/markowitzMatlab.osil -text
OS/data/osilFiles/p0033.osil -text
OS/data/osilFiles/p0201.osil -text
OS/data/osilFiles/parincLinear.osil -text
OS/data/osilFiles/parincLinearByRow.osil -text
OS/data/osilFiles/parincQuadratic.osil -text
OS/data/osilFiles/rosenbrockmod.osil -text
OS/data/osilFiles/testOperators.osil -text
OS/data/osilFiles/volumeTest.osil -text
OS/data/osilFiles/wayneQuadratic.osil -text
OS/data/osolFiles/demo.osol -text
OS/data/osolFiles/demopassword.osol -text
OS/data/osolFiles/demopasswordjobID.osol -text
OS/data/osolFiles/kill.osol -text
OS/data/osolFiles/knock.osol -text
OS/data/osolFiles/remoteSolve1.osol -text
OS/data/osolFiles/remoteSolve2.osol -text
OS/data/osolFiles/remotegsbkip.osol -text
OS/data/osolFiles/remoteosil.osol -text
OS/data/osolFiles/retrieve.osol -text
OS/data/osolFiles/send.osol -text
OS/data/osolFiles/sendWithJobID.osol -text
OS/data/osplFiles/knock.ospl -text
OS/data/osrlFiles/parincLinear.osrl -text
OS/data/osrlFiles/reducedcost.osrl -text
OS/data/osrlFiles/rosenbrockmod.osrl -text
OS/doc/OSReleaseProcedure.pdf -text
OS/doc/OSReleaseProcedure.tex -text
OS/doc/figures/OSDirectory.png -text
OS/doc/figures/OSProjectRootDirectory.png -text
OS/doc/figures/OSSolverService.pdf -text
OS/doc/figures/OSSolverService.png -text
OS/doc/figures/OSSolverService2.png -text
OS/doc/figures/OSSolverServiceLocal.pdf -text
OS/doc/figures/OSSolverServiceLocal.png -text
OS/doc/figures/asynchronous1.pdf -text
OS/doc/figures/asynchronous2.pdf -text svneol=unset#unset
OS/doc/figures/expressiontree.png -text
OS/doc/figures/osCommunicationMethods.pdf -text
OS/doc/figures/osCommunicationMethods.png -text
OS/doc/figures/osbinDistribution.png -text
OS/doc/osUsersManual_1.bbl -text
OS/doc/osUsersManual_1.pdf -text
OS/doc/osUsersManual_1.tex -text
OS/doc/osUsersManual_1.toc -text
OS/doc/usersManualAdditions.txt -text
OS/examples/addCuts/Makefile.in -text
OS/examples/addCuts/OSAddCuts.cpp -text
OS/examples/algorithmicDiff/Makefile.in -text
OS/examples/algorithmicDiff/OSAlgorithmicDiffTest.cpp -text
OS/examples/instanceGenerator/Makefile.in -text
OS/examples/instanceGenerator/OSInstanceGenerator.cpp -text
OS/examples/osTestCode/Makefile.in -text
OS/examples/osTestCode/OSTestCode.cpp -text
OS/inc/config_os.h.in -text
OS/m4/ac_coin_socket_libs.m4 -text
OS/os_addlibs.txt.in -text
OS/schemas/OSParameter.xsd -text
OS/schemas/OSRegistry.xsd -text
OS/schemas/OSRepository.xsd -text
OS/schemas/OSaL.xsd -text
OS/schemas/OSbL.xsd -text
OS/schemas/OSeL.xsd -text
OS/schemas/OSgL.xsd -text
OS/schemas/OSiL.xsd -text
OS/schemas/OSlL.xsd -text
OS/schemas/OSmL.xsd -text
OS/schemas/OSnL.xsd -text
OS/schemas/OSoL.xsd -text
OS/schemas/OSpL.xsd -text
OS/schemas/OSqL.xsd -text
OS/schemas/OSrL.xsd -text
OS/schemas/OSsL.xsd -text
OS/schemas/OStL.xsl -text
OS/schemas/OSuL.xsd -text
OS/schemas/fml.xsl -text
OS/schemas/lpfml.xsd -text
OS/src/Makefile.am -text
OS/src/Makefile.in -text
OS/src/OSAgent/Makefile.am -text
OS/src/OSAgent/Makefile.in -text
OS/src/OSAgent/OSSolverAgent.cpp -text
OS/src/OSAgent/OSSolverAgent.h -text
OS/src/OSAgent/OSWSUtil.cpp -text
OS/src/OSAgent/OSWSUtil.h -text
OS/src/OSAgent/OShL.cpp -text
OS/src/OSAgent/OShL.h -text
OS/src/OSCommonInterfaces/Makefile.am -text
OS/src/OSCommonInterfaces/Makefile.in -text
OS/src/OSCommonInterfaces/OSDefaultSolver.cpp -text
OS/src/OSCommonInterfaces/OSDefaultSolver.h -text
OS/src/OSCommonInterfaces/OSExpressionTree.cpp -text
OS/src/OSCommonInterfaces/OSExpressionTree.h -text
OS/src/OSCommonInterfaces/OSInstance.cpp -text
OS/src/OSCommonInterfaces/OSInstance.h -text
OS/src/OSCommonInterfaces/OSResult.cpp -text
OS/src/OSCommonInterfaces/OSResult.h -text
OS/src/OSCommonInterfaces/OSiLReader.cpp -text
OS/src/OSCommonInterfaces/OSiLReader.h -text
OS/src/OSCommonInterfaces/OSiLWriter.cpp -text
OS/src/OSCommonInterfaces/OSiLWriter.h -text
OS/src/OSCommonInterfaces/OSnLNode.cpp -text
OS/src/OSCommonInterfaces/OSnLNode.h -text
OS/src/OSCommonInterfaces/OSrLReader.cpp -text
OS/src/OSCommonInterfaces/OSrLReader.h -text
OS/src/OSCommonInterfaces/OSrLWriter.cpp -text
OS/src/OSCommonInterfaces/OSrLWriter.h -text
OS/src/OSConfig.h -text
OS/src/OSModelInterfaces/Makefile.am -text
OS/src/OSModelInterfaces/Makefile.in -text
OS/src/OSModelInterfaces/OSCallMatlabSolver.m -text
OS/src/OSModelInterfaces/OSMatlab.cpp -text
OS/src/OSModelInterfaces/OSMatlab.h -text
OS/src/OSModelInterfaces/OSMatlabSolver.cpp -text
OS/src/OSModelInterfaces/OSmps2osil.cpp -text
OS/src/OSModelInterfaces/OSmps2osil.h -text
OS/src/OSModelInterfaces/OSnl2osil.cpp -text
OS/src/OSModelInterfaces/OSnl2osil.h -text
OS/src/OSParsers/Makefile.am -text
OS/src/OSParsers/Makefile.in -text
OS/src/OSParsers/OSOptionsStruc.h -text
OS/src/OSParsers/OSParseosil.cpp -text
OS/src/OSParsers/OSParseosil.l -text
OS/src/OSParsers/OSParseosil.tab.cpp -text
OS/src/OSParsers/OSParseosil.tab.hpp -text
OS/src/OSParsers/OSParseosil.y -text
OS/src/OSParsers/OSParseosol.cpp -text
OS/src/OSParsers/OSParseosol.l -text
OS/src/OSParsers/OSParseosrl.cpp -text
OS/src/OSParsers/OSParseosrl.l -text
OS/src/OSParsers/OSParseosrl.tab.cpp -text
OS/src/OSParsers/OSParseosrl.tab.hpp -text
OS/src/OSParsers/OSParseosrl.y -text
OS/src/OSParsers/OSParseosss.cpp -text
OS/src/OSParsers/OSParseosss.l -text
OS/src/OSParsers/OSiLParserData.cpp -text
OS/src/OSParsers/OSiLParserData.h -text
OS/src/OSParsers/OSrLParserData.cpp -text
OS/src/OSParsers/OSrLParserData.h -text
OS/src/OSSolverInterfaces/Makefile.am -text
OS/src/OSSolverInterfaces/Makefile.in -text
OS/src/OSSolverInterfaces/OSCoinSolver.cpp -text
OS/src/OSSolverInterfaces/OSCoinSolver.h -text
OS/src/OSSolverInterfaces/OSIpoptSolver.cpp -text
OS/src/OSSolverInterfaces/OSIpoptSolver.h -text
OS/src/OSSolverInterfaces/OSKnitroSolver.cpp -text
OS/src/OSSolverInterfaces/OSKnitroSolver.h -text
OS/src/OSSolverInterfaces/OSLindoSolver.cpp -text
OS/src/OSSolverInterfaces/OSLindoSolver.h -text
OS/src/OSSolverService.cpp -text
OS/src/OSUtils/Makefile.am -text
OS/src/OSUtils/Makefile.in -text
OS/src/OSUtils/OSBase64.cpp -text
OS/src/OSUtils/OSBase64.h -text
OS/src/OSUtils/OSCommonUtil.cpp -text
OS/src/OSUtils/OSCommonUtil.h -text
OS/src/OSUtils/OSDataStructures.cpp -text
OS/src/OSUtils/OSDataStructures.h -text
OS/src/OSUtils/OSErrorClass.cpp -text
OS/src/OSUtils/OSErrorClass.h -text
OS/src/OSUtils/OSFileUtil.cpp -text
OS/src/OSUtils/OSFileUtil.h -text
OS/src/OSUtils/OSMathUtil.cpp -text
OS/src/OSUtils/OSMathUtil.h -text
OS/src/OSUtils/OSParameters.h -text
OS/src/OSUtils/OSdtoa.cpp -text
OS/src/OSUtils/OSdtoa.h -text
OS/src/help.txt -text
OS/stylesheets/OSrL.css -text
OS/stylesheets/OSrL.xslt -text
OS/test/Makefile.am -text
OS/test/Makefile.in -text
OS/test/unitTest.cpp -text
OS/wsdl/OScL.wsdl -text
OS/wsdl/OSdL.wsdl -text
OS/wsdl/OShL.wsdl -text
/OSRepository.xml -text
/README -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/get.AllThirdParty -text
/install-sh -text
/ltmain.sh -text
/missing -text
