* text=auto !eol
/AUTHORS -text
/Dependencies -text
/Externals -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/OS.spp -text
OS/AUTHORS -text
OS/ChangeLog -text
OS/CoinAllExamples/CppAD/Makefile.in -text
OS/CoinAllExamples/CppAD/dc08.cpp -text
OS/CoinAllExamples/CppAD/ipopt_cppad_nlp.cpp -text
OS/CoinAllExamples/CppAD/ipopt_cppad_nlp.hpp -text
OS/CoinAllExamples/addCuts/Makefile.in -text
OS/CoinAllExamples/addCuts/OSAddCuts.cpp -text
OS/CoinAllExamples/addCuts/p0033.osil -text
OS/CoinAllExamples/instanceGenerator/Makefile.in -text
OS/CoinAllExamples/instanceGenerator/OSInstanceGenerator.cpp -text
OS/CoinAllExamples/osTestCode/Makefile.in -text
OS/CoinAllExamples/osTestCode/OSTestCode.cpp -text
OS/CoinAllExamples/template/Makefile.in -text
OS/CoinAllExamples/template/template.cpp -text
OS/LICENSE -text
OS/MSVisualStudio/v8/OS.sln -text
OS/MSVisualStudio/v8/OSAmplClient/OSamplclient.vcproj -text
OS/MSVisualStudio/v8/OSApplication-fileUpload/OSApplication-fileUpload.vcproj -text
OS/MSVisualStudio/v8/OSExample-algorithmicDiff/OSExample-algorithmicDiff.vcproj -text
OS/MSVisualStudio/v8/OSExample-instanceGenerator/OSExample-instanceGenerator.vcproj -text
OS/MSVisualStudio/v8/OSExample-osRemoteTest/OSExample-osRemoteTest.vcproj -text
OS/MSVisualStudio/v8/OSExample-osTestCode/OSExample-osTestCode.vcproj -text
OS/MSVisualStudio/v8/OSSolverService/OSSolverService.vcproj -text
OS/MSVisualStudio/v8/OSTest/OSTest.vcproj -text
OS/MSVisualStudio/v8/libOS/libOS.vcproj -text
OS/MSVisualStudio/v8/libOS/libOSSolvers.vcproj -text
OS/MSVisualStudio/v8/libOSCommon/libOSCommon.vcproj -text
OS/MSVisualStudio/v8/libOSSolvers/libOSSolvers.vcproj -text
OS/MSVisualStudio/v8/libOSnl2OSiL/libOSnl2OSiL.vcproj -text
OS/MSVisualStudio/v9/OS.sln -text
OS/MSVisualStudio/v9/OSAmplClient/OSamplclient.vcproj -text
OS/MSVisualStudio/v9/OSAmplClient/OSamplclient.vcproj.GSB.kmartin.user -text
OS/MSVisualStudio/v9/OSApplication-fileUpload/OSApplication-fileUpload.vcproj -text
OS/MSVisualStudio/v9/OSExample-algorithmicDiff/OSExample-algorithmicDiff.vcproj -text
OS/MSVisualStudio/v9/OSExample-instanceGenerator/OSExample-instanceGenerator.vcproj -text
OS/MSVisualStudio/v9/OSExample-osRemoteTest/OSExample-osRemoteTest.vcproj -text
OS/MSVisualStudio/v9/OSExample-osTestCode/OSExample-osTestCode.vcproj -text
OS/MSVisualStudio/v9/OSSolverService/OSSolverService.vcproj -text
OS/MSVisualStudio/v9/OSTest/OSTest.vcproj -text
OS/MSVisualStudio/v9/libOS/libOS.vcproj -text
OS/MSVisualStudio/v9/libOSCommon/libOSCommon.vcproj -text
OS/MSVisualStudio/v9/libOSSolvers/libOSSolvers.vcproj -text
OS/MSVisualStudio/v9/libOSnl2OSiL/libOSnl2OSiL.vcproj -text
OS/MSVisualStudioOSCommon/v8/OSCommon.sln -text
OS/MSVisualStudioOSCommon/v8/libOSCommon/libOSCommon.vcproj -text
OS/MSVisualStudioOSCommon/v9/OSCommon.sln -text
OS/MSVisualStudioOSCommon/v9/libOSCommon/libOSCommon.vcproj -text
OS/MSVisualStudioOSExamples/algorithmicDiff/algorithmicDiff.vcproj -text
OS/MSVisualStudioOSExamples/branchCutPrice/branchCutPrice.vcproj -text
OS/MSVisualStudioOSExamples/cglCuts/cglCuts.vcproj -text
OS/MSVisualStudioOSExamples/instanceGenerator/instanceGenerator.vcproj -text
OS/MSVisualStudioOSExamples/notes.txt -text
OS/MSVisualStudioOSExamples/osExamples.sln -text
OS/MSVisualStudioOSExamples/osModificationDemo/osModificationDemo.vcproj -text
OS/MSVisualStudioOSExamples/osRemoteTest/osRemoteTest.vcproj -text
OS/MSVisualStudioOSExamples/osResultDemo/osResultDemo.vcproj -text
OS/MSVisualStudioOSExamples/osSolverDemo/osSolverDemo.vcproj -text
OS/MSVisualStudioOSExamples/template/template.vcproj -text
OS/Makefile.am -text
OS/Makefile.in -text
OS/README -text
OS/applications/Makefile.am -text
OS/applications/Makefile.in -text
OS/applications/amplClient/Makefile.am -text
OS/applications/amplClient/Makefile.in -text
OS/applications/amplClient/OSAmplClient.cpp -text
OS/applications/amplClient/hs71.mod -text
OS/applications/amplClient/nltrans.dat -text
OS/applications/amplClient/nltrans.mod -text
OS/applications/amplClient/nltrans.nl -text
OS/applications/amplClient/testfile.nl -text
OS/applications/fileUpload/Makefile.in -text
OS/applications/fileUpload/OSFileUpload.cpp -text
OS/applications/fileUpload/OSFileUpload.java -text
OS/configure -text
OS/configure.ac -text
OS/data/OSSolverTests.xls -text
OS/data/amplFiles/IP_infeasible.mod -text
OS/data/amplFiles/IP_infeasible.nl -text
OS/data/amplFiles/IP_unbounded.mod -text
OS/data/amplFiles/IP_unbounded.nl -text
OS/data/amplFiles/LP_infeasible.mod -text
OS/data/amplFiles/LP_infeasible.nl -text
OS/data/amplFiles/LP_unbounded.mod -text
OS/data/amplFiles/LP_unbounded.nl -text
OS/data/amplFiles/blpmpec.dat -text
OS/data/amplFiles/blpmpec.mod -text
OS/data/amplFiles/blpmpec.nl.zip -text
OS/data/amplFiles/blpmpec1.nl -text
OS/data/amplFiles/bonminEx1.mod -text
OS/data/amplFiles/bonminEx1.nl -text
OS/data/amplFiles/camm_test.dat -text
OS/data/amplFiles/camm_test.mod -text
OS/data/amplFiles/camm_test.nl -text
OS/data/amplFiles/eastborne.mod -text
OS/data/amplFiles/eastborne.nl -text
OS/data/amplFiles/hs71.mod -text
OS/data/amplFiles/hs71.nl -text
OS/data/amplFiles/muer.mod -text
OS/data/amplFiles/muer.nl -text
OS/data/amplFiles/muerdata10.dat -text
OS/data/amplFiles/parinc.dat -text
OS/data/amplFiles/parinc.mod -text
OS/data/amplFiles/parinc.nl -text
OS/data/amplFiles/rbrockmod.mod -text
OS/data/amplFiles/testAmpl.run -text
OS/data/amplFiles/volumeTest.mod -text
OS/data/amplFiles/volumeTest.nl -text
OS/data/configFiles/kill.config -text
OS/data/configFiles/testLocal.config -text
OS/data/configFiles/testLocalMPS.config -text
OS/data/configFiles/testLocalNL.config -text
OS/data/configFiles/testRemote.config -text
OS/data/configFiles/testRemoteBIG.config -text
OS/data/configFiles/testRemoteKnock.config -text
OS/data/configFiles/testRemoteMPS.config -text
OS/data/configFiles/testRemoteNL.config -text
OS/data/configFiles/testRemoteRetrieve.config -text
OS/data/configFiles/testRemoteRetrieveBrowser.config -text
OS/data/configFiles/testRemoteSend.config -text
OS/data/configFiles/testRemotegetJobID.config -text
OS/data/configFiles/testbrowser.config -text
OS/data/configFiles/testlocalclp.config -text
OS/data/configFiles/testlocalosol.config -text
OS/data/configFiles/testmps.config -text
OS/data/configFiles/testnl.config -text
OS/data/gamsFiles/225a/gamscntr.dat -text
OS/data/gamsFiles/225a/gamsdict.dat -text
OS/data/gamsFiles/225a/gamsmatr.dat -text
OS/data/gamsFiles/225a/gamsnext.sh -text
OS/data/gamsFiles/225a/gamssolu.dat -text
OS/data/gamsFiles/225a/gamsstat.dat -text
OS/data/gamsFiles/225a/gamswrk0.dat -text
OS/data/gamsFiles/225a/gdxdict.dat -text
OS/data/gamsFiles/225a/gmsprmun.dat -text
OS/data/gamsFiles/CoinOS.opt -text
OS/data/gamsFiles/IP_infeasible.gms -text
OS/data/gamsFiles/IP_unbounded.gms -text
OS/data/gamsFiles/LP_primaldualinfeasible.gms -text
OS/data/gamsFiles/LP_unbounded.gms -text
OS/data/gamsFiles/eastborne.gms -text
OS/data/gamsFiles/os.opt -text
OS/data/gamsFiles/parincLinear.gms -text
OS/data/gamsFiles/rbrockmod.gms -text
OS/data/gamsFiles/rbrockorig.gms -text
OS/data/gamsFiles/trnsport.gms -text
OS/data/matlabFiles/OSCallMatlabSolver.m -text
OS/data/matlabFiles/markowitz.m -text
OS/data/matlabFiles/parincLinear.m -text
OS/data/matlabFiles/template.m -text
OS/data/mpsFiles/IP_unbounded.mps -text
OS/data/mpsFiles/parinc.mps -text
OS/data/osilFiles/CppADTestLag.osil -text
OS/data/osilFiles/HS071_NLP.osil -text
OS/data/osilFiles/HS071_NLPMod.osil -text
OS/data/osilFiles/HS071_feas.osil -text
OS/data/osilFiles/IP_infeasible.osil -text
OS/data/osilFiles/IP_noconstraint.osil -text
OS/data/osilFiles/IP_unbounded.osil -text
OS/data/osilFiles/LINDO-SOS2.osil -text
OS/data/osilFiles/LP_infeasible.osil -text
OS/data/osilFiles/LP_nobasis.osil -text
OS/data/osilFiles/LP_noconstraint.osil -text
OS/data/osilFiles/LP_unbounded.osil -text
OS/data/osilFiles/SOS1.osil -text
OS/data/osilFiles/SOS2.osil -text
OS/data/osilFiles/SOS2a.osil -text
OS/data/osilFiles/SOS2b.osil -text
OS/data/osilFiles/SOS3.osil -text
OS/data/osilFiles/avion2.osil -text
OS/data/osilFiles/bonminEx1.osil -text
OS/data/osilFiles/bonminEx1_Nonlinear.osil -text
OS/data/osilFiles/callBackTest.osil -text
OS/data/osilFiles/callBackTestRowMajor.osil -text
OS/data/osilFiles/eastborne.osil -text
OS/data/osilFiles/finplan1.osil -text
OS/data/osilFiles/gamstrnsport.osil -text
OS/data/osilFiles/genAssign.osil -text
OS/data/osilFiles/lindoapiaddins.osil -text
OS/data/osilFiles/markowitz.osil -text
OS/data/osilFiles/markowitzMatlab.osil -text
OS/data/osilFiles/muer.osil -text
OS/data/osilFiles/nonconvex.osil -text
OS/data/osilFiles/nonconvex2.osil -text
OS/data/osilFiles/p0033.osil -text
OS/data/osilFiles/p0201.osil -text
OS/data/osilFiles/parincInteger.osil -text
OS/data/osilFiles/parincLinear.osil -text
OS/data/osilFiles/parincLinearByRow.osil -text
OS/data/osilFiles/parincLinearEmpty.osil -text
OS/data/osilFiles/parincLinearZeroVar.osil -text
OS/data/osilFiles/parincQuadratic.osil -text
OS/data/osilFiles/reallyEmpty.osil -text
OS/data/osilFiles/rosenbrockmod.osil -text
OS/data/osilFiles/rosenbrockmodPostfix.osil -text
OS/data/osilFiles/rosenbrockorig.osil -text
OS/data/osilFiles/rosenbrockorigInt.osil -text
OS/data/osilFiles/spl1.osil -text
OS/data/osilFiles/spl2.osil -text
OS/data/osilFiles/test24locR1.osil -text
OS/data/osilFiles/test48locR1.osil -text
OS/data/osilFiles/testOperators.osil -text
OS/data/osilFiles/volumeTest.osil -text
OS/data/osilFiles/wayneQuadratic.osil -text
OS/data/osolFiles/HS071_NLPMod_ipopt.osol -text
OS/data/osolFiles/HS071_NLP_knitro.osol -text
OS/data/osolFiles/avion2_ipopt.osol -text
OS/data/osolFiles/bonminEx1_Bonmin.osol -text
OS/data/osolFiles/bonminEx1_Couenne.osol -text
OS/data/osolFiles/callBackTestRowMajor_ipopt.osol -text
OS/data/osolFiles/callBackTest_ipopt.osol -text
OS/data/osolFiles/callBackTest_knitro.osol -text
OS/data/osolFiles/demo.osol -text
OS/data/osolFiles/demo1.osol -text
OS/data/osolFiles/demopassword.osol -text
OS/data/osolFiles/demopasswordjobID.osol -text
OS/data/osolFiles/genAssign.osol -text
OS/data/osolFiles/kill.osol -text
OS/data/osolFiles/knock.osol -text
OS/data/osolFiles/lindoapiaddins_lindo.osol -text
OS/data/osolFiles/p0033_cbc.osol -text
OS/data/osolFiles/p0033_cpx.osol -text
OS/data/osolFiles/p0033_glpk.osol -text
OS/data/osolFiles/p0033_sym.osol -text
OS/data/osolFiles/p0201_cbc.osol -text
OS/data/osolFiles/parincInteger_cbc.osol -text
OS/data/osolFiles/parincLinearByRow_clp.osol -text
OS/data/osolFiles/parincLinear_dylp.osol -text
OS/data/osolFiles/parincLinear_ipopt.osol -text
OS/data/osolFiles/parincQuadratic_ipopt.osol -text
OS/data/osolFiles/parincQuadratic_knitro.osol -text
OS/data/osolFiles/parincQuadratic_lindo.osol -text
OS/data/osolFiles/parsertest.osol -text
OS/data/osolFiles/parsertest2.osol -text
OS/data/osolFiles/parsertest3.osol -text
OS/data/osolFiles/parsertestNew.osol -text
OS/data/osolFiles/remoteSolve1.osol -text
OS/data/osolFiles/remoteSolve2.osol -text
OS/data/osolFiles/remotegsbkip.osol -text
OS/data/osolFiles/remoteosil.osol -text
OS/data/osolFiles/retrieve.osol -text
OS/data/osolFiles/rosenbrockmod_ipopt.osol -text
OS/data/osolFiles/rosenbrockmod_knitro.osol -text
OS/data/osolFiles/rosenbrockmod_lindo.osol -text
OS/data/osolFiles/send.osol -text
OS/data/osolFiles/sendWithJobID.osol -text
OS/data/osolFiles/solveroptions.osol -text
OS/data/osolFiles/spl1-b.osol -text
OS/data/osolFiles/spl1.osol -text
OS/data/osolFiles/spl2-b.osol -text
OS/data/osolFiles/spl2.osol -text
OS/data/osolFiles/volumeTest_vol.osol -text
OS/data/osolFiles/wayneQuadratic_Bonmin1.osol -text
OS/data/osolFiles/wayneQuadratic_Bonmin2.osol -text
OS/data/osolFiles/wayneQuadratic_Couenne.osol -text
OS/data/osolFiles/wayneQuadratic_lindo.osol -text
OS/data/osplFiles/knock.ospl -text
OS/data/osrlFiles/errorExample.osrl -text
OS/data/osrlFiles/ipoptResult.osrl -text
OS/data/osrlFiles/parincLinear.osrl -text
OS/data/osrlFiles/parserTest.osrl -text
OS/data/osrlFiles/parserTestNew.osrl -text
OS/data/osrlFiles/reducedcost.osrl -text
OS/data/osrlFiles/rosenbrockmod.osrl -text
OS/doc/Future_Work.tex -text
OS/doc/OSConstitution.pdf -text
OS/doc/OSConstitution.tex -text
OS/doc/OSReleaseProcedure.pdf -text
OS/doc/OSReleaseProcedure.tex -text
OS/doc/OSSolverServiceRules.txt -text
OS/doc/coinEasyServer.pdf -text
OS/doc/coinEasyServer.tex -text
OS/doc/figures/Figure10.png -text
OS/doc/figures/Figure11.png -text
OS/doc/figures/Figure9.png -text
OS/doc/figures/OSDirectory.png -text
OS/doc/figures/OSProjectRootDirectory.png -text
OS/doc/figures/OSSolverService.pdf -text
OS/doc/figures/OSSolverService.png -text
OS/doc/figures/OSSolverService2.png -text
OS/doc/figures/OSSolverServiceLocal.pdf -text
OS/doc/figures/OSSolverServiceLocal.png -text
OS/doc/figures/asynchronous1.pdf -text
OS/doc/figures/asynchronous2.pdf -text svneol=unset#unset
OS/doc/figures/expressiontree.png -text
OS/doc/figures/osCommunicationMethods.pdf -text
OS/doc/figures/osCommunicationMethods.png -text
OS/doc/figures/osbinDistribution.png -text
OS/doc/figures/xmlResult.png -text
OS/doc/genericParser.pdf -text
OS/doc/genericParser.tex -text
OS/doc/osUsersManual_1.1.bbl -text
OS/doc/osUsersManual_1.1.ind -text
OS/doc/osUsersManual_1.1.pdf -text
OS/doc/osUsersManual_1.1.tex -text
OS/doc/osUsersManual_1.bbl -text
OS/doc/osUsersManual_1.pdf -text
OS/doc/osUsersManual_1.tex -text
OS/doc/osUsersManual_1.toc -text
OS/doc/osUsersManual_2.0.bbl -text
OS/doc/osUsersManual_2.0.ind -text
OS/doc/osUsersManual_2.0.pdf -text
OS/doc/osUsersManual_2.0.tex -text
OS/doc/osUsersManual_2.1.bbl -text
OS/doc/osUsersManual_2.1.ind -text
OS/doc/osUsersManual_2.1.pdf -text
OS/doc/osUsersManual_2.1.tex -text
OS/doc/osUsersManual_2.2.pdf -text
OS/doc/osUsersManual_2.2.tex -text
OS/doc/usersManualAdditions.txt -text
OS/doc/visualstudio.pdf -text
OS/doc/visualstudio.tex -text
OS/examples/Excel/OSWebServiceGUI.xlsm -text
OS/examples/Excel/clsOSInstance.cls -text
OS/examples/Excel/clsws_OSSolverServiceServic.cls -text
OS/examples/Excel/parIncVBA.xlsm -text
OS/examples/algorithmicDiff/Makefile.in -text
OS/examples/algorithmicDiff/OSAlgorithmicDiffTest.cpp -text
OS/examples/bearcat-dip/Bearcat_Debug.h -text
OS/examples/bearcat-dip/Bearcat_DecompApp.cpp -text
OS/examples/bearcat-dip/Bearcat_DecompApp.h -text
OS/examples/bearcat-dip/Bearcat_DecompParam.h -text
OS/examples/bearcat-dip/Bearcat_Main.cpp -text
OS/examples/bearcat-dip/Bearcat_Status.h -text
OS/examples/bearcat-dip/Makefile -text
OS/examples/bearcat-dip/OS_DipInterface.cpp -text
OS/examples/bearcat-dip/OS_DipInterface.h -text
OS/examples/bearcat-dip/bearcat.gms -text
OS/examples/bearcat-dip/bearcat.parm -text
OS/examples/bearcat-dip/bearcat12.dat -text
OS/examples/bearcat-dip/dip-spl1.osol -text
OS/examples/bearcat-dip/dip-spl2.osol -text
OS/examples/bearcat-dip/spl.xml -text
OS/examples/bearcat-dip/spl1.osil -text
OS/examples/bearcat-dip/spl2.osil -text
OS/examples/branchCutPrice/AUTHORS -text
OS/examples/branchCutPrice/LICENSE -text
OS/examples/branchCutPrice/LP/OS_lp.cpp -text
OS/examples/branchCutPrice/Makefile.in -text
OS/examples/branchCutPrice/Member/OS.cpp -text
OS/examples/branchCutPrice/Member/OS_cut.cpp -text
OS/examples/branchCutPrice/Member/OS_init.cpp -text
OS/examples/branchCutPrice/Member/OS_packer.cpp -text
OS/examples/branchCutPrice/Member/OS_user_data.cpp -text
OS/examples/branchCutPrice/Member/OS_var.cpp -text
OS/examples/branchCutPrice/TM/OS_tm.cpp -text
OS/examples/branchCutPrice/include/OS.hpp -text
OS/examples/branchCutPrice/include/OS_cut.hpp -text
OS/examples/branchCutPrice/include/OS_init.hpp -text
OS/examples/branchCutPrice/include/OS_lp.hpp -text
OS/examples/branchCutPrice/include/OS_packer.hpp -text
OS/examples/branchCutPrice/include/OS_tm.hpp -text
OS/examples/branchCutPrice/include/OS_user_data.hpp -text
OS/examples/branchCutPrice/include/OS_var.hpp -text
OS/examples/branchCutPriceTSP/AUTHORS -text
OS/examples/branchCutPriceTSP/LICENSE -text
OS/examples/branchCutPriceTSP/LP/OS_lp.cpp -text
OS/examples/branchCutPriceTSP/include/OS.hpp -text
OS/examples/branchCutPriceTSP/include/OS_cut.hpp -text
OS/examples/branchCutPriceTSP/include/OS_init.hpp -text
OS/examples/branchCutPriceTSP/include/OS_lp.hpp -text
OS/examples/branchCutPriceTSP/include/OS_packer.hpp -text
OS/examples/branchCutPriceTSP/include/OS_tm.hpp -text
OS/examples/branchCutPriceTSP/include/OS_user_data.hpp -text
OS/examples/branchCutPriceTSP/include/OS_var.hpp -text
OS/examples/cglCuts/Makefile.in -text
OS/examples/cglCuts/OSCglCuts.cpp -text
OS/examples/instanceGenerator/Makefile.in -text
OS/examples/instanceGenerator/OSInstanceGenerator.cpp -text
OS/examples/matlab/OSMatlabSolver.cpp -text
OS/examples/misc/SDPA1.osil -text
OS/examples/misc/SDPA1.sdpa -text
OS/examples/misc/SDPA1v2.osil -text
OS/examples/misc/SDPA2OSiL.f90 -text
OS/examples/misc/SDPA_Format.txt -text
OS/examples/misc/coinor-bonmin.osel -text
OS/examples/misc/coinor-ipopt.osel -text
OS/examples/misc/example-all.osel -text
OS/examples/misc/example1.osal -text
OS/examples/misc/gpp100.dat-s -text
OS/examples/misc/gpp100.osil -text
OS/examples/misc/misc.cpp -text
OS/examples/misc/neos-cbc.osel -text
OS/examples/misc/neos-clp.osel -text
OS/examples/misc/postFixRules.txt -text
OS/examples/misc/rosenbrockmodPostfix.osil -text
OS/examples/misc/rosenbrockmodPostfixVersion2.osil -text
OS/examples/misc/sampleMatrixProgramming-v5_5.osil -text
OS/examples/misc/sampleMatrixProgramming-v6.osil -text
OS/examples/misc/ss30.osil -text
OS/examples/osJavaDemo/OSJavaDemo.java -text
OS/examples/osJavaDemo/OSParameter.xml -text
OS/examples/osModificationDemo/Makefile.in -text
OS/examples/osModificationDemo/OSModificationDemo.cpp -text
OS/examples/osRemoteTest/Makefile.in -text
OS/examples/osRemoteTest/OSRemoteTest.cpp -text
OS/examples/osResultDemo/Makefile.in -text
OS/examples/osResultDemo/OSResultDemo.cpp -text
OS/examples/osSolverDemo/Makefile.in -text
OS/examples/osSolverDemo/OSSolverDemo.cpp -text
OS/examples/template/Makefile.in -text
OS/examples/template/template.cpp -text
OS/inc/config_os.h.in -text
OS/m4/ac_coin_socket_libs.m4 -text
OS/os_addlibs.txt.in -text
OS/schemas/1.0/OSParameter.xsd -text
OS/schemas/1.0/OSRegistry.xsd -text
OS/schemas/1.0/OSRepository.xml -text
OS/schemas/1.0/OSRepository.xsd -text
OS/schemas/1.0/OSaL.xsd -text
OS/schemas/1.0/OSbL.xsd -text
OS/schemas/1.0/OSeL.xsd -text
OS/schemas/1.0/OSgL.xsd -text
OS/schemas/1.0/OSiL.xsd -text
OS/schemas/1.0/OSlL.xsd -text
OS/schemas/1.0/OSmL.xsd -text
OS/schemas/1.0/OSnL.xsd -text
OS/schemas/1.0/OSoL.xsd -text
OS/schemas/1.0/OSpL.xsd -text
OS/schemas/1.0/OSqL.xsd -text
OS/schemas/1.0/OSrL.xsd -text
OS/schemas/1.0/OSsL.xsd -text
OS/schemas/1.0/OStL.xsl -text
OS/schemas/1.0/OSuL.xsd -text
OS/schemas/1.0/fml.xsl -text
OS/schemas/1.0/lpfml.xsd -text
OS/schemas/1.5/OSParameter.xsd -text
OS/schemas/1.5/OSRegistry.xsd -text
OS/schemas/1.5/OSRepository.xml -text
OS/schemas/1.5/OSRepository.xsd -text
OS/schemas/1.5/OSaL.xsd -text
OS/schemas/1.5/OSbL.xsd -text
OS/schemas/1.5/OSeL.xsd -text
OS/schemas/1.5/OSgL.xsd -text
OS/schemas/1.5/OSiL.xsd -text
OS/schemas/1.5/OSlL.xsd -text
OS/schemas/1.5/OSmL.xsd -text
OS/schemas/1.5/OSnL.xsd -text
OS/schemas/1.5/OSoL.xsd -text
OS/schemas/1.5/OSpL.xsd -text
OS/schemas/1.5/OSqL.xsd -text
OS/schemas/1.5/OSrL.xsd -text
OS/schemas/1.5/OSsL.xsd -text
OS/schemas/1.5/OStL.xsl -text
OS/schemas/1.5/OSuL.xsd -text
OS/schemas/1.5/fml.xsl -text
OS/schemas/1.5/lpfml.xsd -text
OS/schemas/2.0/OSParameter.xsd -text
OS/schemas/2.0/OSRegistry.xsd -text
OS/schemas/2.0/OSRepository.xsd -text
OS/schemas/2.0/OSaL.xsd -text
OS/schemas/2.0/OSbL.xsd -text
OS/schemas/2.0/OSeL.xsd -text
OS/schemas/2.0/OSgL.xsd -text
OS/schemas/2.0/OSiL.xsd -text
OS/schemas/2.0/OSlL.xsd -text
OS/schemas/2.0/OSmL.xsd -text
OS/schemas/2.0/OSnL.xsd -text
OS/schemas/2.0/OSoL.xsd -text
OS/schemas/2.0/OSpL.xsd -text
OS/schemas/2.0/OSqL.xsd -text
OS/schemas/2.0/OSrL.xsd -text
OS/schemas/2.0/OSsL.xsd -text
OS/schemas/2.0/OStL.xsl -text
OS/schemas/2.0/OSuL.xsd -text
OS/schemas/2.0/fml.xsl -text
OS/schemas/2.0/lpfml.xsd -text
OS/schemas/OSParameter.xsd -text
OS/schemas/OSRegistry.xsd -text
OS/schemas/OSRepository.xsd -text
OS/schemas/OSaL.xsd -text
OS/schemas/OSbL.xsd -text
OS/schemas/OSeL.xsd -text
OS/schemas/OSgL.xsd -text
OS/schemas/OSiL.xsd -text
OS/schemas/OSlL.xsd -text
OS/schemas/OSmL.xsd -text
OS/schemas/OSnL.xsd -text
OS/schemas/OSoL.xsd -text
OS/schemas/OSpL.xsd -text
OS/schemas/OSqL.xsd -text
OS/schemas/OSrL.xsd -text
OS/schemas/OSsL.xsd -text
OS/schemas/OStL.xsl -text
OS/schemas/OSuL.xsd -text
OS/schemas/fml.xsl -text
OS/schemas/lpfml.xsd -text
OS/src/Makefile.am -text
OS/src/Makefile.in -text
OS/src/OSAgent/Makefile.am -text
OS/src/OSAgent/Makefile.in -text
OS/src/OSAgent/OSSolverAgent.cpp -text
OS/src/OSAgent/OSSolverAgent.h -text
OS/src/OSAgent/OSWSUtil.cpp -text
OS/src/OSAgent/OSWSUtil.h -text
OS/src/OSAgent/OShL.cpp -text
OS/src/OSAgent/OShL.h -text
OS/src/OSCommonInterfaces/Makefile.am -text
OS/src/OSCommonInterfaces/Makefile.in -text
OS/src/OSCommonInterfaces/OSDefaultSolver.cpp -text
OS/src/OSCommonInterfaces/OSDefaultSolver.h -text
OS/src/OSCommonInterfaces/OSExpressionTree.cpp -text
OS/src/OSCommonInterfaces/OSExpressionTree.h -text
OS/src/OSCommonInterfaces/OSInstance.cpp -text
OS/src/OSCommonInterfaces/OSInstance.h -text
OS/src/OSCommonInterfaces/OSOption.cpp -text
OS/src/OSCommonInterfaces/OSOption.h -text
OS/src/OSCommonInterfaces/OSResult.cpp -text
OS/src/OSCommonInterfaces/OSResult.h -text
OS/src/OSCommonInterfaces/OSiLReader.cpp -text
OS/src/OSCommonInterfaces/OSiLReader.h -text
OS/src/OSCommonInterfaces/OSiLWriter.cpp -text
OS/src/OSCommonInterfaces/OSiLWriter.h -text
OS/src/OSCommonInterfaces/OSnLNode.cpp -text
OS/src/OSCommonInterfaces/OSnLNode.h -text
OS/src/OSCommonInterfaces/OSoLReader.cpp -text
OS/src/OSCommonInterfaces/OSoLReader.h -text
OS/src/OSCommonInterfaces/OSoLWriter.cpp -text
OS/src/OSCommonInterfaces/OSoLWriter.h -text
OS/src/OSCommonInterfaces/OSrLReader.cpp -text
OS/src/OSCommonInterfaces/OSrLReader.h -text
OS/src/OSCommonInterfaces/OSrLWriter.cpp -text
OS/src/OSCommonInterfaces/OSrLWriter.h -text
OS/src/OSConfig.h -text
OS/src/OSModelInterfaces/Makefile.am -text
OS/src/OSModelInterfaces/Makefile.in -text
OS/src/OSModelInterfaces/OSmps2osil.cpp -text
OS/src/OSModelInterfaces/OSmps2osil.h -text
OS/src/OSModelInterfaces/OSnl2osil.cpp -text
OS/src/OSModelInterfaces/OSnl2osil.h -text
OS/src/OSParsers/Makefile.am -text
OS/src/OSParsers/Makefile.in -text
OS/src/OSParsers/OSOptionsStruc.h -text
OS/src/OSParsers/OSParseosil.cpp -text
OS/src/OSParsers/OSParseosil.l -text
OS/src/OSParsers/OSParseosil.tab.cpp -text
OS/src/OSParsers/OSParseosil.tab.hpp -text
OS/src/OSParsers/OSParseosil.y -text
OS/src/OSParsers/OSParseosol.cpp -text
OS/src/OSParsers/OSParseosol.l -text
OS/src/OSParsers/OSParseosol.tab.cpp -text
OS/src/OSParsers/OSParseosol.tab.hpp -text
OS/src/OSParsers/OSParseosol.y -text
OS/src/OSParsers/OSParseospl.l -text
OS/src/OSParsers/OSParseosrl.cpp -text
OS/src/OSParsers/OSParseosrl.l -text
OS/src/OSParsers/OSParseosrl.tab.cpp -text
OS/src/OSParsers/OSParseosrl.tab.hpp -text
OS/src/OSParsers/OSParseosrl.y -text
OS/src/OSParsers/OSParseosss.cpp -text
OS/src/OSParsers/OSParseosss.l -text
OS/src/OSParsers/OSiLParserData.cpp -text
OS/src/OSParsers/OSiLParserData.h -text
OS/src/OSParsers/OSoLParserData.cpp -text
OS/src/OSParsers/OSoLParserData.h -text
OS/src/OSParsers/OSrLParserData.cpp -text
OS/src/OSParsers/OSrLParserData.h -text
OS/src/OSSolverInterfaces/Makefile.am -text
OS/src/OSSolverInterfaces/Makefile.in -text
OS/src/OSSolverInterfaces/OSBonminSolver.cpp -text
OS/src/OSSolverInterfaces/OSBonminSolver.h -text
OS/src/OSSolverInterfaces/OSCoinSolver.cpp -text
OS/src/OSSolverInterfaces/OSCoinSolver.h -text
OS/src/OSSolverInterfaces/OSCouenneSolver.cpp -text
OS/src/OSSolverInterfaces/OSCouenneSolver.h -text
OS/src/OSSolverInterfaces/OSIpoptSolver.cpp -text
OS/src/OSSolverInterfaces/OSIpoptSolver.h -text
OS/src/OSSolverInterfaces/OSKnitroSolver.cpp -text
OS/src/OSSolverInterfaces/OSKnitroSolver.h -text
OS/src/OSSolverInterfaces/OSLindoSolver.cpp -text
OS/src/OSSolverInterfaces/OSLindoSolver.h -text
OS/src/OSSolverService.cpp -text
OS/src/OSUtils/Makefile.am -text
OS/src/OSUtils/Makefile.in -text
OS/src/OSUtils/OSBase64.cpp -text
OS/src/OSUtils/OSBase64.h -text
OS/src/OSUtils/OSDataStructures.cpp -text
OS/src/OSUtils/OSDataStructures.h -text
OS/src/OSUtils/OSErrorClass.cpp -text
OS/src/OSUtils/OSErrorClass.h -text
OS/src/OSUtils/OSFileUtil.cpp -text
OS/src/OSUtils/OSFileUtil.h -text
OS/src/OSUtils/OSMathUtil.cpp -text
OS/src/OSUtils/OSMathUtil.h -text
OS/src/OSUtils/OSParameters.h -text
OS/src/OSUtils/OSdtoa.cpp -text
OS/src/OSUtils/OSdtoa.h -text
OS/stylesheets/OSrL.css -text
OS/stylesheets/OSrL.xslt -text
OS/test/Makefile.am -text
OS/test/Makefile.in -text
OS/test/unitTest.cpp -text
OS/v2.0/OSBonminSolver.cpp -text
OS/v2.0/OSCoinSolver.cpp -text
OS/v2.0/OSInstance.h -text
OS/v2.0/OSIpoptSolver.cpp -text
OS/v2.0/OSParameters.h -text
OS/v2.0/OSParseosol.l -text
OS/v2.0/OSParseosol.y -text
OS/v2.0/OSParseosrl.cpp -text
OS/v2.0/OSParseosrl.l -text
OS/v2.0/OSParseosrl.tab.cpp -text
OS/v2.0/OSParseosrl.tab.hpp -text
OS/v2.0/OSParseosrl.y -text
OS/v2.0/OSResult.cpp -text
OS/v2.0/OSResult.h -text
OS/v2.0/OSoLWriter.cpp -text
OS/v2.0/OSrLParserData.cpp -text
OS/v2.0/OSrLParserData.h -text
OS/v2.0/OSrLWriter.cpp -text
OS/v2.0/errorExample.osrl -text
OS/v2.0/osUsersManual_2.0.tex -text
OS/v2.0/parincLinear.osrl -text
OS/v2.0/parserTest.osrl -text
OS/v2.0/reducedcost.osrl -text
OS/v2.0/rosenbrockmod.osrl -text
OS/v2.0/unitTest.cpp -text
OS/wsdl/1.0/OScL.wsdl -text
OS/wsdl/1.0/OSdL.wsdl -text
OS/wsdl/1.0/OShL.wsdl -text
OS/wsdl/1.5/OScL.wsdl -text
OS/wsdl/1.5/OSdL.wsdl -text
OS/wsdl/1.5/OShL.wsdl -text
OS/wsdl/2.0/OScL.wsdl -text
OS/wsdl/2.0/OSdL.wsdl -text
OS/wsdl/2.0/OShL.wsdl -text
OS/wsdl/OScL.wsdl -text
OS/wsdl/OSdL.wsdl -text
OS/wsdl/OShL.wsdl -text
/OSRepository.xml -text
/README -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
