h1         { font-family: arial; font-size: 16pt; color: black;
             background-color:white }
h2         { font-family: arial; font-size: 14pt; color: black;
             background-color:white }
body     {font-family: arial; font-size:12pt; color:black; 
background-color:white}
a           { color: blue; background-color:white }
table     {font-family: arial; font-size:14pt; color:black;
background-color:white;}
div.shadow {font-family: arial; font-size:10pt;
color:black; background-color:#99ffff;   font-weight:bold;
                     margin-left:10%;margin-right:10%}
 